{% assign document = post | default: page %}
{% if document.cooking_time or document.portions or document.source %}
<p class="page__meta">
  {% if document.portions %}
  <span class="page__meta-date">
    <i class="fas {% if include.type == 'grid' and document.cooking_time and document.portions %}fa-fw {% endif %}fa-users"
      aria-hidden="true"></i>
    {{ document.portions }}
  </span>
  {% endif %}

  {% if document.cooking_time and document.portions %}<span class="page__meta-sep"></span>{% endif %}

  {% if document.cooking_time %}

  <span class="page__meta-readtime">
    <i class="far {% if include.type == 'grid' and document.cooking_time and document.portions %}fa-fw {% endif %}fa-clock"
      aria-hidden="true"></i>
    {{ document.cooking_time }}
  </span>
  {% endif %}

  {% endif %}

  {% if document.source %}
  <br />
  <span style="font: small-caption;">
    {% assign source = document.source %}
    {% if source.scope == 'adapted' %}
    Adapted from
    {% elsif source.scope == 'inspired' %}
    Inspired by
    {% endif %}
    <a target="_blank" href="{{source.url}}">{{source.name}}</a>
    <i class="{% if source.type == 'book' %}fas fa-book {% else %}fas fa-external-link-alt {% endif %}superscript"
      aria-hidden="true"></i>
  </span>
  {% endif %}
</p>